<wicket:panel>
<form wicket:id="mcAnswersForm">
	<div wicket:id="feedbackPanel" ></div>
	<textarea wicket:id="mcQuestionText" rows="10" cols="30">
	
	</textarea><br/>
	<input type="checkbox" wicket:id="cb1"><input wicket:id="answer1"><br/>
	<input type="checkbox" wicket:id="cb2"><input wicket:id="answer2"><br/>
	<input type="checkbox" wicket:id="cb3"><input wicket:id="answer3"><br/>
	<input type="checkbox" wicket:id="cb4"><input wicket:id="answer4"><br/>
	<input type="submit" value="Submit"/>
</form>
</wicket:panel> 